<div class="bg-container">
    <div class="container">
        <h1>Notifications</h1>
        <div class="notifications-container">
        <app-notification
         name="Information Message" 
         src="https://assets.ccbp.in/frontend/react-js/primary-icon-img.png"
         className="info"></app-notification>
        <app-notification name="Success Message" 
        src="https://assets.ccbp.in/frontend/react-js/success-icon-img.png"
        className="success"></app-notification>
        <app-notification name="Warning Message" 
        src="https://assets.ccbp.in/frontend/react-js/warning-icon-img.png"
        className="warn"></app-notification>
        <app-notification name="Error Message" 
        src="https://assets.ccbp.in/frontend/react-js/danger-icon-img.png"
        className="danger"></app-notification>
    </div>
    </div>
</div>
